<launch>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="9600"/>
  </node>

  <node name="tracker_node" pkg="tracker" type="tracker.py" output="screen"/>
  <node name="pwm_node" pkg="pwm_out" type="pwm_out.py"/>

</launch>
